@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Crafty+Girls&family=Forum&family=Give+You+Glory&display=swap');

div {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #020202;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #FFFCE8;
    color: #020202;
}
.home-title {
    color: #FFFCE8;
    font-family: 'Crafty Girls', 'Give You Glory', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color: #FFFCE8;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
body {
    background-color: #FFFCE8;
    font-family: 'Forum', 'Cormorant', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #7293A0;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
.join {
    color: #FFFCE8;
    text-decoration: none;
    font-family: 'Forum', 'Cormorant', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px;
}
.book {
    background-color: #7293A0;
    color: #020202;
    text-decoration: none;
    font-family: 'Forum', 'Cormorant', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px;
}
.book:hover {
    color: #FFFCE8;
}
.join:hover {
    background-color: #FFFCE8;
    color: #353531;
    padding: 1%;
}
#background {
    background-color: #7293A0;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg h2 {
    color: #FFFCE8;
    font-family: 'Crafty Girls', 'Give You Glory', sans-serif;
}
.msg p {
    color: #FFFCE8;
    font-size: 1em;
    padding-bottom: 15px;
}
footer {
    background-color: #353531;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #FFFCE8;
}
footer a:hover {
    color: #CB807D;
    text-decoration: none;
}
footer a:link {
    text-decoration: none;
}
footer p {
    color: #FFFCE8;
    font-size: 1.2em;
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}
.icon, .logo {
    width: 80px;
}
.icon {
    padding-top: 10px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #353531;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #353531;
    line-height: 3em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}



.page-2-title {
    text-align: center;
    font-family: 'Crafty Girls', 'Give You Glory', sans-serif;
    margin: 0 auto;
    margin-top: 50px;
}
.landscape {
    opacity: 0.3;
    width: 100%;
    height: 400px;
    margin-top: 15px;
}

.page-2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
}

.img-2 {
    width: 400px;
    height: 300px;
    border: 10px solid #353531;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.img-2:hover {
    opacity: .6;
    transform: scale(1.1);
}

.container {
    position: relative;
    text-align: center;
    color: #252422;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.places {
    margin-top: 50px;
    font-family: 'Crafty Girls', 'Give You Glory', sans-serif;
}
p {
    text-align: center;
}
.bottom-title {
    font-family: 'Crafty Girls', 'Give You Glory', sans-serif;
    text-align: center;
    margin: 0 600px;
    margin-top: 100px;
    border-radius: 20px;
    background-color: #353531;
    color: #fffcf2;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}