@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Crafty+Girls&family=Forum&family=Give+You+Glory&display=swap');

div {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #020202;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #FFFCE8;
    color: #020202;
}
.home-title {
    color: #020202;
    font-family: 'Crafty Girls', 'Give You Glory', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color: #020202;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
body {
    background-color: #FFFCE8;
    font-family: 'Forum', 'Cormorant', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #7293A0;
}
.join {
    color: #FFFCE8;
    text-decoration: none;
    font-family: 'Forum', 'Cormorant', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px;
}
.book {
    background-color: #7293A0;
    color: #020202;
    text-decoration: none;
    font-family: 'Forum', 'Cormorant', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px;
}
.book:hover {
    color: #FFFCE8;
}
.join:hover {
    background-color: #FFFCE8;
    color: #353531;
    padding: 1%;
}
.card-img {
    border: 10px solid #353531;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
#background {
    background-color: #7293A0;
    height: 725px;
}
.msg {
    background-color: #353531;
    line-height: 3em;
    padding: 35px;
}
.msg h2 {
    color: #FFFCE8;
    font-family: 'Crafty Girls', 'Give You Glory', sans-serif;
}
.msg p {
    color: #FFFCE8;
    font-size: 1em;
    padding-bottom: 15px;
}
footer {
    background-color: #353531;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #FFFCE8;
}
footer a:hover {
    color: #CB807D;
    text-decoration: none;
}
footer a:link {
    text-decoration: none;
}
footer p {
    color: #FFFCE8;
    font-size: 1.2em;
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}
.icon, .logo {
    width: 80px;
}
.icon {
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}